@import "variables";
@import "functions";
@import "mixins";

body {
  font-size: rem($main-font-size);
  line-height: rem($line-height);

  h1 {
    margin-bottom: rem($heading-size);
    margin-bottom: 0;
  }
  h4 {
    margin-bottom: rem(30);
  }
}
